<h2 class="mb-2">Listas de Substituição</h2>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="panel-lista">
                    <ul>
                        <li class="label-vermelho"  routerLink="diabeticos" [routerLinkActive]="['active-label']"><a routerLink="diabeticos" [routerLinkActive]="['active-label']">Diabéticos</a></li>
                        <li class="label-azul" routerLink="hipertensos" [routerLinkActive]="['active-label']"><a routerLink="hipertensos" [routerLinkActive]="['active-label']">Hipertensos</a></li>
                        <li class="label-amarelo" routerLink="padrao" [routerLinkActive]="['active-label']"><a routerLink="padrao" [routerLinkActive]="['active-label']">Lista de Substituição Padrão</a></li>
                        <li class="label-laranja" routerLink="ovolactoveg" [routerLinkActive]="['active-label']"><a routerLink="ovolactoveg" [routerLinkActive]="['active-label']">Ovolactovegetariano</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

