@import '../app.component.scss';


b {
    font-weight: 400;
    color: #85868d;
  }

ul {
    margin: 0px;
}

em, .i-color {
    color: dodgerblue;
    cursor: pointer;
}
em:hover {
    color: rgba(30, 143, 255, 0.844);
}

.margin-left-4{
    margin-left: 4px;
}

.span-custom {
    span {
        margin-left: 4px;
    }
    .col-6 {
        padding: 0;
    }
}

.card-text{
    font-size: 12px;
}

.p-custom{
    font-size: 13px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.p-custom-color {
    font-size: 13px;
    color: dodgerblue;
    margin-bottom: 0px;
    margin-left: -6px;
    cursor: pointer;
    p:hover {
        color: rgba(30, 143, 255, 0.844);
    }
}

.ref-custom{
    p, a {
        font-size: 13px;
    };
    a {
        color: dodgerblue;
        cursor: pointer;
    };
    a:hover {
        color: rgba(30, 143, 255, 0.844);
    }
    p {
        margin-bottom: 8px;
    }
}

.dropdown-menu {
    a {
        cursor: pointer;
    }
}