@import '../styles.sass';

$theme-colors: (
  "primary": #BA55D3,
);

a.active {
    color: #ba55d3b9 !important;
}

.strong-class {
  font-weight: 500;
  color: #85868d;
}


.strong-class-2 {
  font-weight: 400;
  color: #85868d;
}

html {
  scroll-behavior: smooth;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

@import "node_modules/bootstrap/scss/bootstrap";