<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MyDiet One</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="plan-alim" [routerLinkActive]="['active']">Plano Alimentar</a>
      <a class="nav-item nav-link" routerLink="gastos-energ" [routerLinkActive]="['active']">Gastos Energéticos</a>
      <a class="nav-item nav-link" routerLink="ava-antrop" [routerLinkActive]="['active']">Avaliação Antropométrica</a>
      <!-- <a class="nav-item nav-link" routerLink="listas-subst" [routerLinkActive]="['active']">Listas de Substituição</a>
      <a class="nav-item nav-link" routerLink="suplementos" [routerLinkActive]="['active']">Suplementos</a> -->
    </div>
    <div>
      <i class="fas fa-2x fa-piggy-bank mr-2" style="color: #BA55D3; cursor: pointer;" title="Doe para o MyDiet One" (click)="showDonate()"></i>
    </div>
  </div> 
</nav>

<div class="container my-4">
  <router-outlet></router-outlet>
</div>
<div style="margin: 0px;" id="donate"></div>