@import '../styles.sass';

$theme-colors: (
  "primary": #BA55D3,
);

a.active {
    color: #ba55d3b9 !important;
}

.strong-class {
  font-weight: 500;
  color: #85868d;
}

html {
  scroll-behavior: smooth;
}

@import "node_modules/bootstrap/scss/bootstrap";