<h2 class="mb-2">Alimentos</h2>
<div class="card">
    <div class="card-body">
        <div class="row" [formGroup]="formModalAlim">
            <div class="col-md-5 mb-4">
                <div class="input-group">
                    <input id="search" formControlName="search" type="text" class="form-control" style="width: 65%;" placeholder="Ex.: Abac; Fran; crua; coz">
                    <select id="tabelas" formControlName="tabelas" class="form-control"
                        style="width: 30%; margin: 0 2.5%;">
                        <option value="Todas">Todos</option>
                        <option value="IBGE">IBGE</option>
                        <option value="TACO">TACO</option>
                        <option value="Tucunduva">Tucunduva</option>
                        <option value="Marcas">Marcas</option>
                        <option value="Suplementos">Suplementos</option>
                    </select>
                </div>
                <hr>
                <div class="panel-lista">

                    <ul *ngFor="let alim of alimentos">
                        <li [class]="alim.origem" (click)="alimDetail(alim.id)">{{ alim.descricao }}</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-7">
                <div *ngIf="alimDetail$ | async as alim">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-center">
                            <h4 class="modal-title">{{ alim.descricao }}</h4>
                        </div>
                        <div class="modal-body" style="font-size: 14px;">
                            <div class="row">
                                <div class="col-sm-6 d-flex flex-row mb-3">
                                    <b>Porção: </b>
                                    <select class="form-control ml-1" formControlName="porcoes" id="porcoes">
                                        <option *ngFor="let porcao of alim.porcoes"
                                            [value]="porcao.gramas + '-' + porcao.descricao">
                                            {{ porcao.descricao }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <b>Valor Energético: </b><span>{{ alim.calorias | replace:'kcal' }}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Grupo: </b><span>{{ alim.grupoAlimentar }}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 span-custom">

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Carboidratos:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.carboidratos | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Açúcar:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.acucar | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Proteínas:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.proteinas | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Gorduras Totais:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.gordurasTotais | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Gorduras Saturadas:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.gordurasSaturadas | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Gorduras Monoinsaturadas:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.gordurasMonoinsaturadas | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Gorduras Poli-insaturadas:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.gordurasPoliInsaturadas | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Gorduras Trans:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.gordurasTrans | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Colesterol:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.colesterol | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Fibra Alimentar:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.fibras | replace:'g' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Sódio:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.sodio | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Cálcio:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.calcio | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Ferro:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.ferro | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Potássio:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.potassio | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Fósforo:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.fosforo | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Magnésio:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.magnesio | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6 span-custom">

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Zinco:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.zinco | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Manganês:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.manganes | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Cobre:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.cobre | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Selênio:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.selenio | replace:'mcg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Vitamina A:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaA_Retinol | replace:'mcg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Vitamina D:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaD | replace:'mcg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Vitamina E:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaE | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Vitamina C:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaC | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Niacina:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB3 | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Ácido Pantotênico:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB5 | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Vitamina B6:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB6 | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Riboflavina (Vit. B2):</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB2 | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Tiamina (Vit. B1):</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB1 | replace:'mg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Biotina:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB7 | replace:'mcg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Ácido Fólico:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB9 | replace:'mcg' }}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-end">
                                            <b>Vitamina B12:</b>
                                        </div>
                                        <div class="col-6">
                                            <span>{{ alim.vitaminaB12 | replace:'mcg' }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>