<h4>Avaliação Antropométrica</h4>
<div class="card">
    <div class="card-body">
        <h5 class="card-title h5-custom">Método de investigação em nutrição baseado na medição das variações físicas e na composição corporal global.</h5>
        <h6 class="card-subtitle mb-2 text-muted">Para obter os resultados corretos preencha Altura, Peso atual e Pregas Cutâneas de acordo com o protocolo escolhido.</h6>
        <br>

        <div class="row mb-2">
            <div class="col-lg-10">
                <!-- <p class="card-text">*Escolha qual protocolo utilizar, dependendo do sexo e ciclo da vida do paciente. A
                    escolha
                    do protocolo depende da sua conduta profissional.
                    <br>
                    **Gasto energético será usado para cálculo no plano alimentar.
                </p> -->
            </div>
            <!-- <div class="col-lg-2" style="text-align: right;">
                <button type="button" class="btn btn-outline-primary">Download pdf</button>
            </div> -->
        </div>
    </div>
</div>