<h4>Avaliação Antropométrica</h4>
<div class="card">
    <div class="card-body">
        <h5 class="card-title h5-custom">Método de investigação em nutrição baseado na medição das variações físicas e
            na composição corporal global.</h5>
        <h6 class="card-subtitle mb-2 text-muted">Para obter os resultados corretos preencha Altura, Peso atual e Pregas
            Cutâneas de acordo com o protocolo escolhido.</h6>
        <br>

        <form class="form-horizontal my-3" [formGroup]="form">
            <div class="row">
                <div class="col-md-4 mr-3">

                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="desc" class="strong-class">Descrição</label>
                            <textarea class="form-control note-editor note-editor-margin" formControlName="desc"
                                id="desc" cols="30" rows="10" maxlength="200"></textarea>
                            <small>
                                Caracteres restantes
                                <span>{{ form.get('desc').value === null ? 200 : 200 - form.get('desc').value.length }}</span>
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="dataAtend" class="strong-class">Data Atend.</label>
                            <input type="date" class="form-control" formControlName="dataAtend" id="dataAtend">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="dataAtend" class="strong-class">Tipo</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="tipo" id="tipo"
                                        value="0">
                                    <span class="custom-control-description">
                                        Criança (Menor de 5 anos)
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="tipo" id="tipo"
                                        value="1">
                                    <span class="custom-control-description">
                                        Criança ou Adolescente (5 - 19 anos)
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="tipo" id="tipo"
                                        value="2">
                                    <span class="custom-control-description">
                                        Adulto / Idoso (a partir de 20 anos)
                                    </span>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="altura" class="strong-class">Altura*</label>
                            <input type="text" class="form-control" formControlName="altura" id="altura"
                                placeholder="metros" [textMask]="{mask: mask, placeholderChar:' '}">
                        </div>
                        <div class="col-sm-6">
                            <label for="peso" class="strong-class">Peso*</label>
                            <input type="text" class="form-control" formControlName="peso" id="peso"
                                placeholder="quilos" [textMask]="{mask: mask, placeholderChar:' '}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="idade" class="strong-class"> Idade*
                                {{ form.controls.tipo.value == 0 ? '(meses)' : '(anos)' }}</label>
                            <input type="text" class="form-control" formControlName="idade" id="idade"
                                [placeholder]="form.controls.tipo.value == 0 ? 'meses' : 'anos'" [textMask]="{mask: maskNumber2, placeholderChar:' '}">
                        </div>
                        <div class="col-sm-6">
                            <label for="idade" class="strong-class">Sexo*</label>
                            <div class="row ml-1">
                                <div class="col-12">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" formControlName="sexo" value="F">
                                        <span class="custom-control-description">Feminino</span>
                                    </label>
                                </div>
                                <div class="col-12">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" formControlName="sexo" value="M">
                                        <span class="custom-control-description">Masculino</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-7">
                    <div [ngSwitch]="form.controls.tipo.value">
                        <div *ngSwitchCase="0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="strong-class">Pregas Cutâneas</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row my-5">
                                <div class="col-sm-6">
                                    <label for="tricepsCrianca" class="strong-class">Tríceps</label>
                                    <input type="number" step="0.01" class="form-control"
                                        formControlName="tricepsCrianca" id="tricepsCrianca" placeholder="milímetros">
                                </div>
                                <div class="col-sm-6">
                                    <label for="subescapularCrianca" class="strong-class">Subescapular</label>
                                    <input type="number" step="0.01" class="form-control"
                                        formControlName="subescapularCrianca" id="subescapularCrianca"
                                        placeholder="milímetros">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-between">
                                    <label class="strong-class">Resultado</label>
                                    <p>Referência: <a>OMS (2006)</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Percentual de Gordura</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="gordura-crianca">{{ gordCrianc.ref }}</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 text-center-xs">
                                        <span id="gordura-crianca-classif" [ngClass]="gordCrianc.brush">{{ gordCrianc.text }}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Peso Atual</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="peso-crianca">{{ form.controls.peso.value  }} kg</span>
                                    </div>
                                    <div id="peso-crianca-classif" class="col-sm-6 col-xs-12 text-center-xs"><span [ngClass]="pesoIdadeCrianc.brush">{{ pesoIdadeCrianc.text }}</span> <span class="ml-2" [ngClass]="pesoEstaturaCrianc?.brush">{{ pesoEstaturaCrianc?.text }}</span></div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Peso para Idade (Referência)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="peso-crianca-ref-idade">{{ pesoIdadeCrianc.ref }}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Peso para Estatura (Referência)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="peso-crianca-ref-estatura">{{ pesoEstaturaCrianc?.ref }}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Estatura Atual</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="estatura-crianca">{{ form.controls.altura.value}} m</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 text-center-xs">
                                        <span id="estatura-crianca-classif"  [ngClass]="estaturaIdadeCrianc.brush">{{ estaturaIdadeCrianc.text }}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Estatura para Idade (Referência)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="estatura-crianca-ref">{{ estaturaIdadeCrianc.ref }}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">IMC (Atual)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="imc-crianca">{{ imcCrianc.imc | replace: ''}}</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 text-center-xs">
                                        <span id="imc-crianca-classif" [ngClass]="imcCrianc.brush">{{ imcCrianc.text }}</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">IMC (Referência)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="imc-crianca-ref">{{ imcCrianc.ref }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="1">
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-between">
                                    <label class="strong-class">Resultado</label>
                                    <p>Referência: <a>OMS (2007)</a></p>
                                </div>
                            </div>
                            <hr>
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Estatura Atual</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="estatura-adolescente">1,80 m</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 text-center-xs">
                                        <span id="estatura-adolescente-classif" class="label label-danger">110,46 % - Muito Alta Estatura para a Idade</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">Estatura para Idade (Referência)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="estatura-adolescente-ref">1,63 m</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">IMC (Atual)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="imc-adolescente">21,60</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 text-center-xs">
                                        <span id="imc-adolescente-classif" class="label label-success">Eutrofia</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="text-right col-sm-4 col-xs-6">IMC (Referência)</div>
                                    <div class="col-sm-2 col-xs-6">
                                        <span id="imc-adolescente-ref">21.15</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="2">
                            2
                        </div>
                        <div *ngSwitchDefault>

                        </div>
                    </div>
                    <hr class="mt-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="strong-class">Diagnóstico</label>
                            <select class="form-control" formControlName="diagnostico" id="diagnostico">
                                <option *ngFor="let item of diagnosticos" [value]="item.value">
                                    {{ item.label }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
